body {
    background-color: azure;
}

.jumbotron {
    background-color: #F9846B;
    color: black;
    text-align: center;
    font-family: sans-serif;
    margin: 50px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 20px 2px 2px;
    margin-top: 10px;
    text-align: justify-all;
    font-size: 15px;
}

.btn-reserva {
    width: 100%;
}

.btn-reserva:hover {
    background-color: crimson;
}

.btn-reserva-icon{
    padding-right: 15px;
    color: goldenrod;
}

footer{
	padding-top: 50px;
    background-color: rgba (0,0,0,.54);
    font-size: 14px;
}

.footer-socialmedia-icon{
    padding-right: 10px;
}

.footer-address-icon {
    padding-right: 10px;
}